# Convert HTTPS OSS requests to HTTP
rewrite (apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$2

# OSS encode + as %2B, here manually rewrite + to %2B
rewrite (github.com)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/bazel/registry/bcr/downloads/$1/$2
rewrite (github.com)/(.*?)\+(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2%2B$3

# rewrite to oss
rewrite (github.com)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (cdn.azul.com)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (mirror.bazel.build)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (files.pythonhosted.org)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (storage.googleapis.com)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (nodejs.org)/(.*) http://apsara-thirdcloud-test.oss-cn-hangzhou-zmf.aliyuncs.com/$1/$2
rewrite (repo1.maven.org)/maven2/(.*) https://maven.aliyun.com/repository/central/$2

# fallback to original
rewrite (github.com)/(.*) https://$1/$2
rewrite (mirror.bazel.build)/(.*) https://$1/$2
rewrite (cdn.azul.com)/(.*) https://$1/$2
rewrite (files.pythonhosted.org)/(.*) https://$1/$2
rewrite (storage.googleapis.com)/(.*) https://$1/$2
rewrite (nodejs.org)/(.*) https://$1/$2
rewrite (repo1.maven.org)/maven2/(.*) https://$1/maven2/$2

